body {
  backgroud-color:#D2B48C;
  color:#A9A9A9;
  font-family: 'SEGOE UI', sans-serif;
  dislay: flex;
  justify-0content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom:20px;
}
#clock {
  font-size: 64px;
  font-weight: bold;
  padding: 20px 40px;
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #DEB887;
  color: #000000;
  box-shadow: 0 0 20px  #000000;
}
  
  
